.banner {
  height: 300px;
  background-image: url("/public/images/plant-title.JPEG");
  background-size: cover;
  background-position: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #d1eb9f;
  text-shadow: black 1px 1px 1px;
}

.home-button{ 
  background-color: #6B8E23;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px 20px;
}